accelerate
datasets
diffusers>=0.16.0
torch
torchvision
torchmetrics
transformers
numpy
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core
hpsv2
peft
pytorch-fid
qwen_vl_utils
regex
Requests
black
isort
pre-commit
vllm
lpips

git+https://github.com/openai/CLIP.git
